<header id="main-header">
  <div class="header-content">
    <span class="title">VEREDA<span>FLIX</span></span>
    <ul class="list">
      <li class="list-item">
        <a routerLink="/" routerLinkActive="active">Buscar</a>
      </li>
      <li class="list-item">
        <a routerLink="movies" routerLinkActive="active">Favoritos</a>
      </li>
      <li class="list-item">
        <a routerLink="contato" routerLinkActive="active">Contato</a>
      </li>
      <li class="list-item"></li>
    </ul>
  </div>
</header>
