<section id="movie-list">
  <input
    type="search"
    name="search"
    id="search"
    placeholder="Buscar filmes, series, documentários, ..."
    autofocus
    (keyup)="debounce.next($event.target.value)"
  />
  <ol class="list-select">
    <li *ngIf="!movies.length">
      Você ainda não adicionou nenhuma filme a sua lista :(
    </li>
    <li *ngFor="let movie of movies" class="list-select-item">
      <app-movie
        class="item-poster"
        [poster]="movie.poster"
        [title]="movie.title"
      ></app-movie>
      <div class="item-hover">
        <div class="item-content">
          <span class="title">{{ movie["Title"] }}</span>
          <button class="btn" (click)="delete(movie.imdbID)">
            Remover
          </button>
        </div>
      </div>
    </li>
  </ol>
</section>
